VITE_GITHUB_URL=your_github_url_here
VITE_LINKEDIN_URL=your_linkedin_url_here
VITE_DISCORD_URL=your_discord_url_here
VITE_INSTAGRAM_URL=your_instagram_url_here
VITE_SPOTIFY_URL=your_spotify_url_here

VITE_PORTRAIT_DARK_URL=your_dark_portrait_image_url_here
VITE_PORTRAIT_LIGHT_URL=your_light_portrait_image_url_here

VITE_MUSIC_SPOTIFY_URL=your_music_spotify_url_here
VITE_MUSIC_SOUNDCLOUD_URL=your_music_soundcloud_url_here
VITE_MUSIC_BANDCAMP_URL=your_music_bandcamp_url_here
VITE_MUSIC_YOUTUBE_MUSIC_URL=your_music_youtube_music_url_here

VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here

VITE_GITHUB_USERNAME=your_github_username_here
